In [5]:
from langchain.utilities import SQLDatabase

In [6]:
import pandas as pd
df = pd.read_csv('../Data/credit_risk_dataset.csv')

In [16]:
from sqlalchemy import create_engine, text

# Define your MySQL connection details
username = "kumar"
password = "kumar"
host = "localhost"

# Connect to the MySQL server without specifying a database
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/')

# Create a connection
with engine.connect() as connection:
    # Create the 'credit_risk' database
    connection.execute(text("CREATE DATABASE IF NOT EXISTS credit_risk"))

print("Database 'credit_risk' created successfully.")

Database 'credit_risk' created successfully.

In [17]:
import pandas as pd
from sqlalchemy import create_engine

username = "kumar"
password = "kumar"
host = 'localhost'
database = 'credit_risk'

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

# Insert data into MySQL table
table_name = 'credit_risk'
df.to_sql(table_name, con=engine, if_exists='replace', index=False)

32581

In [19]:
from langchain.utilities import SQLDatabase
import pymysql
import sqlite3

db_file = "credit_risk_data.db"  # Name of your .db SQLite file
conn = sqlite3.connect(db_file)

# Insert the data from the DataFrame into the SQLite database
table_name = "credit_risk"  
df.to_sql(table_name, conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [21]:
# Re-open the connection to the SQLite database
conn = sqlite3.connect(db_file)

# Query the data
query = "SELECT * FROM credit_risk"
result_df = pd.read_sql(query, conn)

# Display the data
print(result_df.head())

# Close the connection
conn.close()

   person_age  person_income person_home_ownership  person_emp_length  \
0          22          59000                  RENT              123.0
1          21           9600                   OWN                5.0
2          25           9600              MORTGAGE                1.0
3          23          65500                  RENT                4.0
4          24          54400                  RENT                8.0

  loan_intent loan_grade  loan_amnt  loan_int_rate  loan_status  \
0    PERSONAL          D      35000          16.02            1
1   EDUCATION          B       1000          11.14            0
2     MEDICAL          C       5500          12.87            1
3     MEDICAL          C      35000          15.23            1
4     MEDICAL          C      35000          14.27            1

   loan_percent_income cb_person_default_on_file  cb_person_cred_hist_length
0                 0.59                         Y                           3
1                 0.10                         N                           2
2                 0.57                         N                           3
3                 0.53                         N                           2
4                 0.55                         Y                           4